@use "./variables.scss" as *;

.current-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-shadow: $textShadow;

  &__location {
    font-size: 1.5rem;
    font-weight: 300;
  }

  &__temperature {
    font-size: 4.5rem;
    font-weight: 200;
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}
