@use "./mixins.scss" as *;
@use "./variables.scss" as *;
@use "sass:color";

.forecast {
  display: flex;
  flex-direction: column;
  background: blur(1rem);
  padding: 1.5rem 1rem;
  gap: 1rem;
  border-radius: 5px;
  box-shadow: $boxShadow;
  @include addBlur(2rem);

  &__upper {
    border-bottom: 1px solid color.adjust($textColor, $alpha: -0.8);
    padding-bottom: 1rem;
  }

  &__lower {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 1rem;
  }
}

.hour-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  gap: 1rem;

  &__hour {
    text-align: center;
  }

  &__symbol {
    width: 50px;
  }

  &__temperature {
    text-align: center;
  }
}
