@use "./mixins.scss" as *;
@use "./variables.scss" as *;

.further {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
}

.single-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include card();
  flex: 0 0 calc(50% - 0.5rem);
  box-sizing: border-box;

  &__name {
    font-size: 0.9rem;
  }
  &__value {
    font-size: 1.5rem;
  }
}
