@use "./variables.scss" as *;
@use "./mixins.scss" as *;

.main-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-shadow: $textShadow;

    & h1 {
      font-size: 3.5rem;
      font-weight: 300;
    }

    & span {
      cursor: pointer;
    }
  }

  &__search {
    position: relative;
    width: 100%;
    &-input {
      width: calc(100% - 2rem);
      height: 2.5rem;
      border-radius: $border-radius;
      border-style: none;
      font-size: 1rem;
      padding: 0 1rem;
    }
  }

  &__findings {
    border-radius: $border-radius;
    width: 100%;
    position: absolute;
    margin-top: 0.3em;
    background-color: $elevationPrimary;
    z-index: 1000;
    // iOS Hack
    transform: translateZ(100px);
  }

  &__favourites {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  &__fav-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  &__empty-msg {
    text-shadow: $textShadow;
    font-weight: 300;
  }
}

.finding {
  border-bottom: 1px solid grey;
  padding: 1rem;
  cursor: pointer;

  &__city {
    font-size: 1.5rem;
  }

  &__country {
    font-size: 0.8rem;
  }

  &:last-child {
    border: none;
  }
}

.fav-delete {
  display: none;
  align-items: center;
  flex: 1;

  &__icon {
    cursor: pointer;
    width: 2rem;
    color: #f13c3c;
    filter: drop-shadow($textShadow);
  }

  &--active {
    display: flex;
  }
}
.fav-card {
  --bg-url: none;
  @include card($blurry: false);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-shadow: $textShadow;
  cursor: pointer;
  flex: 8;

  &__locals {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__city {
    font-size: 1.5rem;
  }

  &__temperature {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__current {
    font-size: 2.5rem;
    text-align: right;
    font-weight: 250;
  }

  &--withBG {
    @include withBG;
  }
}
